---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAP_QUEST_API_KEY>&location=miami,fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Sep 2022 03:43:27 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"miami,fl"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Miami","adminArea5Type":"City","adminArea4":"Miami-Dade","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040379","unknownInput":"","type":"s","latLng":{"lat":25.775084,"lng":-80.194702},"displayLatLng":{"lat":25.775084,"lng":-80.194702},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAP_QUEST_API_KEY>&type=map&size=225,160&locations=25.775084,-80.194702|marker-sm-50318A-1&scalebar=true&zoom=12&rand=755529707"}]}]}'
  recorded_at: Tue, 27 Sep 2022 03:43:27 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&lat=25.775084&lon=-80.194702&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":25.7751,"lon":-80.1947,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1664250207,"sunrise":1664190654,"sunset":1664233994,"temp":75.06,"feels_like":76.82,"pressure":1014,"humidity":97,"dew_point":74.14,"uvi":0,"clouds":100,"visibility":9656,"wind_speed":9.22,"wind_deg":60,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"},{"id":701,"main":"Mist","description":"mist","icon":"50n"}],"rain":{"1h":3.99}},"minutely":[{"dt":1664250240,"precipitation":4.0978},{"dt":1664250300,"precipitation":4.2107},{"dt":1664250360,"precipitation":4.3411},{"dt":1664250420,"precipitation":4.4714},{"dt":1664250480,"precipitation":4.6018},{"dt":1664250540,"precipitation":4.7321},{"dt":1664250600,"precipitation":4.8625},{"dt":1664250660,"precipitation":4.7321},{"dt":1664250720,"precipitation":4.6018},{"dt":1664250780,"precipitation":4.4714},{"dt":1664250840,"precipitation":4.3411},{"dt":1664250900,"precipitation":4.2107},{"dt":1664250960,"precipitation":4.0978},[...]
